/.vscode
/__pycache__
/delete.txt
/delete1.py
/dimogame.py
/dite.py
/factorail_trailingzeros.py
/factorial.py
/faulty_cal.py
/fibbonic.py
/gamedisplay.py
/guess_the_number.py
/healthy_programmer
/hello.py
/librarymanagement.py
/meeting.py
/oops.py
/pattreninput.py
/prime_finder.py
/python.py
/quiz.py
/snake_game
/soldier.py
/star.py
/stone_paper_sessior.py
/student.py
/test
/try.py
/ytdown1.py